@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bkclr: rgba(50, 50, 50, 1);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

.container {
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    height: 10%;
    /* 10vh */
    width: 100%;
    /* 100vw */
    background-color: var(--bkclr);
    /* border: 2px solid black; */
}

.edit-status {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 50%;
    width: 15%;
    /* background-color: red; */
    position: absolute;
    top: 25%;
    right: 40%;
}

.edit-status>span {
    font-weight: bold;
    color: rgb(249, 18, 18);
}

.edit-bar {
    top: 40%;
    right: 36%;
    position: absolute;
    height: 20%;
    width: 4%;
    border-radius: 10%;
    background-color: #aaa;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.edit-bubble {
    top: 25%;
    right: 38%;
    transition-property: right;
    transition-duration: 0.5s;
    position: absolute;
    height: 5vh;
    width: 5vh;
    background-color: rgb(99, 99, 99);
    border-radius: 50%;
}

.save-the-edits {
    position: absolute;
    top: 42.1rem;
    left: 80rem;
    font-size: 1.8rem;
    background-color:rgb(9, 195, 90);
    color: rgb(255, 255, 255);
    border: 2px solid white;
    width: 15rem;
    height: 3rem;
    border-radius: 0.4rem;
}

.edit-select-menu {
    position: absolute;
    top: 1.2rem;
    left: 25rem;
    font-size: 1.5rem;
    width: 15rem;
}

.delete-status {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 50%;
    width: 15%;
    /* background-color: red; */
    position: absolute;
    top: 25%;
    right: 15%;
}

.delete-status>span {
    font-weight: bold;
    color: rgb(249, 18, 18);
}

.delete-bar {
    top: 40%;
    right: 10%;
    position: absolute;
    height: 20%;
    width: 4%;
    border-radius: 10%;
    background-color: #aaa;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.delete-bubble {
    top: 25%;
    right: 12%;
    transition-property: right;
    transition-duration: 0.5s;
    position: absolute;
    height: 5vh;
    width: 5vh;
    background-color: rgb(99, 99, 99);
    border-radius: 50%;
}

.pack {
    /* border: 2px solid red; */
    height: 80%;
    /* 80vh */
    display: flex;
}

.sidebar {
    height: 100%;
    /* 80vh */
    width: 20%;
    /* 20vw */
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bkclr);
}

.action-container {
    height: 20%;
    /* 10vh */
    width: 35%;
    /* 5vw */
    background-color: rgb(100, 100, 100, 1);
    border-radius: 0.2rem;
    /* border: 2px solid red; */
}

.action-container>p {
    text-align: center;
    color: rgb(255, 255, 255);
}

.action {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action>i {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    margin: auto;
    /* background-color: yellow; */
}

.action:hover {
    background-color: rgba(80, 80, 80, 1);
}

.filter-container {
    height: 60%;
    /* 48vh */
    width: 75%;
    /* 15vw */
    background-color: rgb(100, 100, 100, 1);
    border-radius: 0.2rem;
}

.filter {
    height: 20%;
    /* 9.6vh */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.filter-top {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.filter-bottom {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}


.filter:hover {
    background-color: rgba(80, 80, 80, 1);
}

.filter>div {
    height: 50%;
    width: 70%;
    border-radius: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.red-color-btn {
    background-color: rgb(249, 18, 18);
}

.orange-color-btn {
    background-color: rgb(238, 133, 13);
}

.green-color-btn {
    background-color: rgb(9, 195, 90);
}

.black-color-btn {
    background-color: rgb(0, 0, 0);
}

.show-all-btn {
    background-color: rgb(23, 64, 140);
}

.filter>div>p {
    color: rgb(255, 255, 255);
}

.grid {
    /* position: relative;  */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
    /* 80vh */
    width: 80%;
    /* 80vw */
    /* border: 2px solid black; */
    background-color: rgb(255, 255, 255);
}

.create-ticket {
    display: flex;
    /* border: 2px solid rgb(255, 255, 255); */
    border-radius: 0.3rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 95.5%;
    height: 0%;
    transition-property: height;
    transition-duration: 0.5s;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.modal {
    margin: auto;
    margin-top: 9%;
    height: 55%;
    width: 45%;
    background-color: rgb(219, 219, 219);
    /* display: flex; */
    /* border-radius: 0.3rem; */
    box-shadow: 0rem 0rem 4rem 1rem rgb(0, 0, 0, 0.6);
    overflow: auto;
}

.modal>div {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.5rem;
}

.modal>h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.modal label {
    display: inline-block;
    font-size: 1.2rem;
    width: 14rem;
    /* background-color: red; */
}

.modal select,
input,
textarea {
    width: 15rem;
    font-size: 1.2rem;
}

.ticket-type {
    position: relative;
}

.ticket-priority {
    position: relative;
}

.ticket-type>span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.25rem;
    right: -2.75rem;
    height: 2.4rem;
    width: 3rem;
    /* border: 1px solid rgb(0, 0, 0); */
    /* background-color: red; */
}

.ticket-type>span>i {
    font-size: 2rem;
}

.ticket-priority>span {
    position: absolute;
    top: -0.12rem;
    right: -3rem;
    height: 2rem;
    width: 3.5rem;
    /* border: 1px solid rgb(0, 0, 0); */
}

.ticket-btn>button {
    height: 2.5rem;
    font-size: 1.2rem;
    width: 12rem;
}

/* ---------------------- This is for tickets ------------------------- */

.ticket {
    border: 1px solid black;
    position: relative;
    text-align: center;
    margin: 2rem;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    /* align-items: center; */
    height: 15rem;
    width: 18rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 5px #aaa;
    overflow-y: auto;
}

.ticket::-webkit-scrollbar {
    display: none;
}

.ticket>.ticket-header {
    display: inline-block;
    width: 100%;
    height: 2rem;
    position: sticky;
    top: 0rem;
    left: 0rem;
    z-index: 0;
    /* background-color: black; */
}

.ticket>span:nth-child(2) {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 1rem;
    /* background-color: red;  */
}

.ticket>p {
    /* background-color: red; */
    /* margin-bottom: 0.8rem;
    margin-top: 0.5rem; */
    /* padding-left: 1rem; */
    font-weight: bold;
    margin-bottom: 1rem;
}


/* ---------------------- This is for tickets ------------------------- */

.footer {
    height: 10%;
    /* 10vh */
    /* border: 2px solid blue; */
    background-color: var(--bkclr);
}

/* ---------------------- This is for responsiveness------------------- */

@media (max-width: 2560px){
    * {
        font-size: 1.3rem;
    }

    .save-the-edits {
        font-size: 2.5rem;
        height: 5rem;
        width: 20rem;
        top: 54rem;
        left: 100rem;
    }

    .action-container {
        width: 55%;
        height: 25%;
    }

    .action-container>p {
        font-size: 2rem;
    }

    .action {
        height: 70%;
    }

    .action>i {
        font-size: 8rem;
    }

    .filter>div {
        width: 90%;
    }
    
    .filter>div>p {
        font-size: 1.8rem;
    }

    .edit-status, .edit-status>span, .delete-status, .delete-status>span {
        font-size: 2.5rem;
    }

    .edit-status {
        right: 45%;
    }

    .edit-bar {
        right: 39%;
    }

    .edit-bubble {
        right: 42%;
    }

    .delete-status {
        width: 18%;
        right: 16%;
    }

    .delete-bubble {
        right: 13%;
    }
}

@media (max-width: 1440px){
    * {
        font-size: 1rem;
    }

    .save-the-edits {
        font-size: 1.8rem;
        height: 3rem;
        width: 15rem;
        top: 37.2rem;
        left: 70rem;
    }

    .action-container {
        width: 50%;
        height: 25%;
    }

    .action-container>p {
        font-size: 1.5rem;
    }

    .action>i {
        font-size: 5rem;
    }

    .filter>div {
        width: 80%;
    }
    
    .filter>div>p {
        font-size: 1.2rem;
    }

    .edit-status, .edit-status>span, .delete-status, .delete-status>span {
        font-size: 1.8rem;
    }
}

@media (max-width: 1024px){

    .save-the-edits {
        font-size: 1.5rem;
        height: 2.7rem;
        width: 12rem;
        top: 31.6rem;
        left: 50rem;
    }

    .sidebar {
        width: 30%;
    }
    
    .grid {
        width: 70%;
    }

    .action-container>p {
        font-size: 1.1rem;
    }

    .action>i {
        font-size: 4rem;
    }

    .filter>div {
        height: 65%;
        width: 80%;
    }
    
    .filter>div>p {
        font-size: 1.2rem;
    }

    .edit-status, .edit-status>span, .delete-status, .delete-status>span {
        font-size: 1.3rem;
    }

}

@media (max-width: 768px) {
    .filter>div>p {
        font-size: 0.9rem;
    }

    .save-the-edits {
        font-size: 1.5rem;
        height: 2.5rem;
        width: 12rem;
        top: 31.7rem;
        left: 34rem;
    }

    .edit-status {
        right: 50%;
    }

    .edit-bar {
        right: 42%;
    }

    .edit-bubble {
        right: 45%;
    }

    .delete-status {
        right: 20%;
    }

    .delete-bar {
        right: 12%;
    }

    .delete-bubble {
        right: 15.5%;
    }

    .edit-status, .edit-status>span, .delete-status, .delete-status>span {
        font-size: 1rem;
    }

    .ticket {
        margin: 1rem;
        height: 10rem;
        width: 12rem;
    }
}

@media (max-width: 425px) {

    .filter>div>p {
        font-size: 0.7rem;
        text-align: center;
    }

    .action-container {
        width: 80%;
    }

    .action-container>p {
        font-size: 1rem;
    }

    .action>i {
        font-size: 4rem;
    }

    .save-the-edits {
        font-size: 1.2rem;
        height: 2rem;
        width: 10rem;
        top: 32rem;
        left: 15rem;
    }

    .edit-status {
        width: 10rem;
        right: 60%;
    }

    .edit-bar {
        width: 2rem;
        right: 53%;
    }

    .edit-bubble {
        top: 30%;
        height: 1.3rem;
        width: 1.3rem;
        right: 58%;
    }

    .delete-status {
        width: 10rem;
        right: 15%;
    }

    .delete-bar {
        width: 2rem;
        right: 5%;
    }

    .delete-bubble {
        top: 30%;
        height: 1.3rem;
        width: 1.3rem;
        right: 10%;
    }

    .edit-status, .edit-status>span, .delete-status, .delete-status>span {
        /* background-color: red; */
        font-size: 1rem;
    }
}
